/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* lighting point */
body {
    background: whitesmoke;
}
.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: red;
    border-radius: 100%;
    -webkit-animation: scaleout 1s infinite ease-in-out;
    animation: scaleout 1s infinite ease-in-out;
}
.left {
    float: left;
    margin-left: 15%;
    background: #67CF22
}
.right {
    float: right;
    margin-right: 15%;
}
@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}
@keyframes scaleout {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

/* point */
.point {
	float: left;
	position: absolute;
	cursor: pointer;
	color: red;
}

#bg {
	background-image: url("./map.png");
	background-repeat: no-repeat;
	background-size: 100%;
    height: 47vw;
}

.shine {
    border: 10;
}

p {
    text-indent: 2em;
}

.title {
    margin-top: 2em;
}

hr {
    margin-bottom: 1.5em;
}

div.block {
    margin: 30px auto;
}

.pro-pic {
    border-radius: 50%;
}
.pro {
    padding: 500px 10px;
}

p.speach-bubble-left {
    text-indent: 1em;
}
p.speach-bubble-right {
    text-indent: 1em;
}
.speech-bubble-left {
    position: relative;
    background: #ff80ab;
    border-radius: .4em;
    padding: 0.02px;
}

.speech-bubble-left:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 39px solid transparent;
    border-left-color: #ff80ab;
    border-right: 0;
    border-top: 0;
    margin-top: -5px;
    margin-right: -19px;
    padding-left: 5px;
}
.speech-bubble-right {
    position: relative;
    background: #ff80ab;
    border-radius: .4em;
    padding: 0.02px;
}
.speech-bubble-right:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #ff80ab;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.ul-list {
    display: inline-block;
    padding: 10px;
}
.li-img {
    height: 150px;
}